---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import ShowcaseCard from '../../components/ShowcaseCard.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const demos = await getCollection('demos').then((data) => data.reverse());
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2 class='font-bold m-0'>Demos</h2>
      <p class='text-slate-500 text-[1rem]'>
        I genuinely believe that by sharing practical examples and experiences,
        I can contribute to the growth and development of my teammates and
        inspire collaborative improvement. Here's an example of a couple of
        demos I provided for my team.
      </p>
      <br />
      <ul class='py-2 flex flex-col gap-4'>
        {
          demos.map((demo) => (
            <ShowcaseCard
              path='demos'
              slug={demo.slug}
              title={demo.data.title}
              emoji={demo.data.emoji}
              description={demo.data.description}
              status={demo.data.status}
            />
          ))
        }
      </ul>
    </main>
  </body>
</html>
