---
interface Props {
  path: string;
  slug: string;
  emoji: string;
  title: string;
  status: 'Done' | 'WIP' | 'Not Started';
  description: string;
}

const { title, description, emoji, slug, status, path } = Astro.props;

const colorByStatus = {
  Done: 'bg-emerald-100',
  WIP: 'bg-orange-100',
  'Not Started': 'bg-neutral-100',
};
---

<li
  class='border rounded-md p-4 hover:scale-[1.02] active:scale-[.98] transition ease-in-out'
>
  <a
    href={path + '/' + slug}
    class='flex justify-center gap-4 hover:text-inherit'
  >
    <section class='flex flex-col gap-2 w-[100%]'>
      <header class='flex justify-between items-center'>
        <section class='flex justify-start items-center gap-2'>
          <span>{emoji}</span>
          <h4>{title}</h4>
        </section>
        <span class={`text-sm px-2 py-1 rounded ${colorByStatus[status]}`}>
          {status}
        </span>
      </header>
      <p class='text-sm text-slate-500'>
        {description}
      </p>
    </section>
  </a>
</li>
