---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import ShowcaseCard from '../../components/ShowcaseCard.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const projects = await getCollection('projects').then((data) => data.reverse());
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <header class='my-2'>
        <a href='/'>← Back</a>
      </header>
      <h2 class='font-bold m-0'>Side Projects</h2>
      <p class='text-slate-500'>Problem solving using software</p>
      <ul class='py-2 flex flex-col gap-4'>
        {
          projects.map((project) => (
            <ShowcaseCard
              path='projects'
              slug={project.slug}
              title={project.data.title}
              emoji={project.data.emoji}
              description={project.data.description}
              status={project.data.status}
            />
          ))
        }
      </ul>
    </main>
  </body>
</html>
