---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class='flex flex-col justify-center items-center'>
    <main class='flex flex-col text-[1rem]'>
      <header class='my-2'>
        <a href={'javascript:history.back()'}>← Back</a>
      </header>
      <article>
        <div class="mb-4">
          {
            heroImage && (
              <img
                class='rounded-lg shadow-2xl'
                width={1020}
                height={510}
                src={heroImage}
                alt=''
              />
            )
          }
        </div>
        <div class='flex flex-col gap-4'>
          <div class='flex items-center justify-between'>
            <h1 class='font-bold text-[1.5rem]'>{title}</h1>
			<div class='date'>
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class='last-updated-on'>
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
          </div>
		  <hr />
		  <slot/>
        </div>
      </article>
    </main>
  </body>
</html>
